@{
    ViewData["Title"] = "MemberActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 mt-4">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Member Activity Report</h3>
        </div>
        <div class="card-body">
            <div class="row g-4">
                <div class="col-md-2">
                    <label for="txt_memberId" class="form-label">Member ID <span class="text-danger">*</span></label>
                    <form> <input type="text" autocomplete="off" data-Mandatory="Y" name="ID" class="form-control form-control-lg clsClear" id="txt_memberId" data-name="ID" required /></form>
                </div>
                <div class="col-md-3">
                    <label for="txt_Startdate" class="form-label">Start Date <span class="text-danger">*</span></label>
                    <form>
                        <input type="date" data-Mandatory="Y" autocomplete="off" name="Start" class="form-control form-control-lg clsdate clsClear" id="txt_Startdate" data-name="Start" required>
                    </form>
                </div>
                <div class="col-md-3">
                    <label for="txt_Enddate" class="form-label">End Date <span class="text-danger">*</span></label>
                    <form>
                        <input type="date" data-Mandatory="Y" autocomplete="off" name="End" class="form-control form-control-lg clsdate clsClear" id="txt_Enddate" data-name="End" required>
                    </form>
                </div>

                <div class="col-md-2 mt-5">
                    <button class="btn btn-primary" style="float:right;" type="button" onclick="Search()">Search</button>
                </div>
                <div class="col-md-2 mt-5">
                    <button class="btn btn-secondary" type="button" onclick="btnclear()">Clear</button>
                </div>
            </div>

            <div class="row mt-5" id="divTablecontent"></div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    var CurrentDateFormat = "";
    $(document).ready(function () {
        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1;
        var year = currentDate.getFullYear();
        day = day < 10 ? '0' + day : day;
        month = month < 10 ? '0' + month : month;

        CurrentDateFormat = year + '-' + month + '-' + day;

        $(".clsdate").val(CurrentDateFormat);
    });
    var Result = [];
    function Search() {
        Result = [];
        $("#divTablecontent").html("");
        if ($("#txt_Startdate").val() == "" || $("#txt_Enddate").val() == "") {
            swal('', 'Enter the date value', 'info');
            return false;
        }
        var ReqData = {
            ID: $("#txt_memberId").val(),
            START: $("#txt_Startdate").val(),
            END: $("#txt_Enddate").val()
        };

        var Param = JSON.stringify(ReqData);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("MemberActivity_Report", "Report")',
            data: Param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () { $("#global-loader").show(); },
            complete: function () { $("#global-loader").hide(); },
            success: function (data) {
                console.log(data.error);
                if (data.status == "01") {
                    Result = data.result;
                    Result = JSON.parse(Result);
                    Result = Result.P_FETCH_MEMBER_ACTIVITY_REPORT;
                    BuildTableData(Result);
                } else {
                    swal('', 'Records not found!', 'error');
                    return false;
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                swal('', 'Records not found!', 'error');
                console.log(errorMessage);
                return false;
            }
        });
    }

    function BuildTableData(Res) {
        var TableContent = '<div class="col-lg-12">\n' +
            '    <div class="card">\n' +
            '        <div class="card-body">\n' +
            '            <div class="table-responsive">\n' +
            '                <table class="table border-top-0 table-bordered text-nowrap border-bottom" id="basic-datatable">\n' +
            '                    <thead>\n' +
            '                        <tr>\n' +
            '                            <th class="wd-15p border-bottom-0">ID</th>\n' +
            '                            <th class="wd-15p border-bottom-0">Name</th>\n' +
            '                            <th class="wd-15p border-bottom-0">In-Time</th>\n' +
            '                            <th class="wd-15p border-bottom-0">Out-Time</th>\n' +
            '                            <th class="wd-15p border-bottom-0">Total-Time</th>\n' +
            '                        </tr>\n' +
            '                    </thead>\n' +
            '                    <tbody>\n';

        for (var i = 0; i < Res.length; i++) {
            TableContent += '                        <tr>\n' +
                '                            <td>' + (Res[i].ID || "") + '</td>\n' +
                '                            <td>' + (Res[i]["NAME"] || "") + '</td>\n' +
                '                            <td>' + (Res[i]["IN-TIME"] || "") + '</td>\n' +
                '                            <td>' + (Res[i]["OUT-TIME"] || "") + '</td>\n' +
                '                            <td>' + (Res[i]["TOTAL-TIME"] || "") + '</td>\n' +

                '                        </tr>\n';
        }

        TableContent += '                    </tbody>\n' +
            '                </table>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>\n';

        $("#divTablecontent").html(TableContent);
        $('#basic-datatable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                scrollX: "100%",
                sSearch: '',
            }
        });
    }

    function formatDate(inputDate) {
        if ((inputDate || "") != "") {
            var parts = inputDate.split('-');
            var year = parts[0];
            var month = parts[1];
            var day = parts[2];
            return day + '-' + month + '-' + year;
        }
        return "";
    }

    function btnclear() {
        $(".clsClear").val("");
        $("#divTablecontent").html("");
        $(".clsdate").val(CurrentDateFormat);
    }
</script>